/* Coolors Exported Palette - https://coolors.co/dcbd84-353c2d-767e73-a8a791-f0e8d2 */

/* CSS HEX */
--ecru: #DCBD84ff;
--black-olive: #353C2Dff;
--battleship-gray: #767E73ff;
--sage: #A8A791ff;
--parchment: #F0E8D2ff;

/* CSS HSL */
--ecru: hsla(39, 56%, 69%, 1);
--black-olive: hsla(88, 14%, 21%, 1);
--battleship-gray: hsla(104, 5%, 47%, 1);
--sage: hsla(57, 12%, 61%, 1);
--parchment: hsla(44, 50%, 88%, 1);

/* SCSS HEX */
$ecru: #DCBD84ff;
$black-olive: #353C2Dff;
$battleship-gray: #767E73ff;
$sage: #A8A791ff;
$parchment: #F0E8D2ff;

/* SCSS HSL */
$ecru: hsla(39, 56%, 69%, 1);
$black-olive: hsla(88, 14%, 21%, 1);
$battleship-gray: hsla(104, 5%, 47%, 1);
$sage: hsla(57, 12%, 61%, 1);
$parchment: hsla(44, 50%, 88%, 1);

/* SCSS RGB */
$ecru: rgba(220, 189, 132, 1);
$black-olive: rgba(53, 60, 45, 1);
$battleship-gray: rgba(118, 126, 115, 1);
$sage: rgba(168, 167, 145, 1);
$parchment: rgba(240, 232, 210, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-right: linear-gradient(90deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-bottom: linear-gradient(180deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-left: linear-gradient(270deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-top-right: linear-gradient(45deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-bottom-right: linear-gradient(135deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-top-left: linear-gradient(225deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-bottom-left: linear-gradient(315deg, #DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);
$gradient-radial: radial-gradient(#DCBD84ff, #353C2Dff, #767E73ff, #A8A791ff, #F0E8D2ff);