/* Coolors Exported Palette - https://coolors.co/e5c285-414d36-788d73-b0ae93-f3ecd3 */

/* CSS HEX */
--ecru: #e5c285ff;
--ebony: #414d36ff;
--reseda-green: #788d73ff;
--sage: #b0ae93ff;
--parchment: #f3ecd3ff;

/* CSS HSL */
--ecru: hsla(38, 65%, 71%, 1);
--ebony: hsla(91, 18%, 26%, 1);
--reseda-green: hsla(108, 10%, 50%, 1);
--sage: hsla(56, 16%, 63%, 1);
--parchment: hsla(47, 57%, 89%, 1);

/* SCSS HEX */
$ecru: #e5c285ff;
$ebony: #414d36ff;
$reseda-green: #788d73ff;
$sage: #b0ae93ff;
$parchment: #f3ecd3ff;

/* SCSS HSL */
$ecru: hsla(38, 65%, 71%, 1);
$ebony: hsla(91, 18%, 26%, 1);
$reseda-green: hsla(108, 10%, 50%, 1);
$sage: hsla(56, 16%, 63%, 1);
$parchment: hsla(47, 57%, 89%, 1);

/* SCSS RGB */
$ecru: rgba(229, 194, 133, 1);
$ebony: rgba(65, 77, 54, 1);
$reseda-green: rgba(120, 141, 115, 1);
$sage: rgba(176, 174, 147, 1);
$parchment: rgba(243, 236, 211, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-right: linear-gradient(90deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-bottom: linear-gradient(180deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-left: linear-gradient(270deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-top-right: linear-gradient(45deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-bottom-right: linear-gradient(135deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-top-left: linear-gradient(225deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-bottom-left: linear-gradient(315deg, #e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);
$gradient-radial: radial-gradient(#e5c285ff, #414d36ff, #788d73ff, #b0ae93ff, #f3ecd3ff);