/* CSS HEX 
--ecru: #e5c285ff;
--ebony: #414d36ff;
--reseda-green: #788d73ff;
--sage: #b0ae93ff;
--parchment: #f3ecd3ff; */

body {
    background-color: #788d73ff;
}

h1 {
    text-align: center;
    color: #f3ecd3ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    color: #f3ecd3ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 35%;
}
.nav {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 15px 10px 15px;
    padding: 3px 3px 3px 3px;
    font-style: normal;
    text-decoration: none;
    color: #414d36ff;
}
.nav:hover{
    color: #f3ecd3ff;
}
#nav-bar {
    background-color: #b0ae93ff;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 700px;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
    border-color: #e5c285ff;
    opacity: 75%;
}
